<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--CSS-->
    <link rel="stylesheet" href="../CSS/aboutUs/styles.css">

    <!--HEAD INCLUDE-->
    <%- include("../partials/head") %> 
    
    <title>Sobre Nosotros</title>
</head>
<body>

    <!--HEADER--> 
    
    <%- include("../partials/header") %>    

   
    <!--SOBRE NOSOTROS-->
  
        <div class="bannerAboutUs">
            <img src="/images/imagenesVariadas/aboutUs1.png" alt="1er parte del banner" class="bannerConjunto">
            <img src="/images/imagenesVariadas/aboutUs5.png" alt="3era parte del banner" class="bannerConjunto">
            <img src="/images/imagenesVariadas/aboutUs2.png" alt="2da parte del banner" class="bannerConjunto">
            <img src="/images/imagenesVariadas/aboutUs3.png" alt="3era parte del banner" class="bannerConjunto">
          </div>
        <div class="contenedorSN"> 
        <div class="contenedorText" >
            <h2> Sobre nosotros</h2>
            <h4> 
                Detrás de Argentina Campers hay un equipo de viajeros expertos que te brindarán el mejor servicio y el apoyo necesario para que tu viaje sea inolvidable. Somos amantes de la naturaleza, la libertad, el disfrute y los buenos momentos con la familia y los amigos.
            </h4>
            <h4> 
                Cada rincón de Argentina vale la pena para recorrer. Amamos nuestra tierra y sus diversos paisajes. Su cultura y gente; siempre dispuesta a dar una mano o compartir un mate donde quieras parar; donde la noche te encuentra en el camino o el sol te da la bienvenida al amanecer para continuar con la travesía. Bienvenidos a este club de viajeros, dueños del tiempo y creadores de sus propias aventuras.
                Ponte en marcha, la naturaleza te espera.
            </h4>
        </div>
    
<!-- Agregar testimonios de clientes de Argentina Campers -->


    <!--Agregar COMENTARIOS-->
<div class="nuestrosViajeros">

<!--// include("../testimonios") -->
<div class="nuevaResenia">
    <div style="display: flex;flex-direction: row;"></div>
<h2>¡Compartí tu experiencia!</h2>
    <form action="resenia" method="post" enctype="multipart/form-data">
        <label for="tituloViaje">Titulá tu viaje</label>
        <input type="text" name="tituloViaje" placeholder="Aventuras por doquier" class="tituloViaje">
        <p class="clasificacion">
            <label for="radio1" class="star1">★</label><input id="radio5" type="radio" name="estrellas" value="5"><!--
          --><label for="radio2" class="star2">★</label><input id="radio4" type="radio" name="estrellas" value="4"><!--
          --><label for="radio3" class="star3">★</label><input id="radio3" type="radio" name="estrellas" value="3"><!--
          --><label for="radio4" class="star4">★</label><input id="radio2" type="radio" name="estrellas" value="2"><!--
          --><label for="radio5" class="star5">★</label><input id="radio1" type="radio" name="estrellas" value="1"><!--
          -->
        </p>
         <div>
            <input type="text-area" class="">
         </div>
      </form>
    </div>
</div>


    
  
</div>
    <!--FOOTER-->

    <%- include("../partials/footer") %> 

</body>
</html>