<div class="formulario-para-el-producto nuevo-nombre-del-producto-a-crear">
    <label for="nuevo-nombre-del-producto">Producto a editar</label>
    <select class= "inputForms" name="productoAEditar">
       <% for(let name of infoProducts) { %>
          <option><%= name.producto + " " + name.marca + " " + name.modelo %> </option>
          <% } %> 
    </select>
</div>