<header>
    <nav>
        <img src="./images/logo.png" alt="Logo Argentina campers" class="logoAC">

   

    <a href="home" class="links-header-nav"><h2>Home</h2></a>
        <a href="product-detail" class="links-header-nav"><h2>Nuestras CamperVans</h2></a>
        <a href="" class="links-header-nav"><h2>Sobre nosotros</h2></a>
        <!-- <a href="" class="links-header-nav"><h2>Experiencias</h2></a> -->
        <div class="menu"> 
            <p><i class="fa-solid fa-bars"></i></p>
        </div>
        <div class="carro-header">
            <a href="rental-cart" class="links-header"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="iniciar-sesion">
            <div class="usuario">
                <div>
                    <a href="login" class="links-header"><i class="fa-solid fa-right-to-bracket"></i>Iniciar sesion</a>
                </div>
            </div>

            <div class="usuario">
                <div>
                    <a href="register" class="links-header"><i class="fa-solid fa-address-card"></i>Registrarse</a>
                </div>
            </div>
        </div>
</nav>
</header>