<div class="formulario-para-el-producto precio-del-producto-a-crear">
    <label for="precio-del-producto">Cambiar el precio del producto</label>
    <input type="number" name="precio-del-producto" id="precio-del-producto" <% if(infoProducts.id == 1){%>
            placeholder="<%= infoProducts.precio[1] %>"
   <% } else if (infoProducts.id == 2){ %> 
      placeholder="<%= infoProducts.precio[2]%>"  
      <% } else if (infoProducts.id == 3){ %>  
         placeholder="<%= infoProducts.precio[3] %>" 
         <% } %>  class= "inputForms" required>
</div>