<% for (let info of infoProductos) { %> 
    <article class="descProductos">
        <div class="componentes-del-producto">
            <h4><%= info.marca + info.modelo %> </h4>
        </div>
        <div class="componentes-del-producto">
            <img src="<%= info.img %>" alt="<%= info.marca + info.modelo %>" class="productoImg">
        </div>
        <div class="componentes-del-producto">
            <p><%= info.detalle %></p>
            </div>
            <div class="masDetalles">
                <a href="#">Más Detalles</a>
            </div>
        </article>
    <% } %> 
