<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/d70d29ff66.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
        <div>
            <img src="./img/logo.png" alt="Logo Argentina campers" class="logo">
        </div>
        
            <a href="" class="links-header"><h2>Home</h2></a>
            <a href="" class="links-header"><h2>Nuestras CamperVans</h2></a>
            <a href="" class="links-header"><h2>Reservar</h2></a>
            <a href="" class="links-header"><h2>Sobre nosotros</h2></a>
            <a href="" class="links-header"><h2>Contactanos</h2></a>
            <a href="" class="links-header"><i class="fa-solid fa-cart-shopping"></i></a>
        <div class="iniciar-sesion">
            <a href="" class="links-header"><h4>Iniciar sesion</h4></a>
            
        </div>
    </nav>
    </header>
    <section class="cuerpo">
        <div class="home">
            <h2>
            Home
            </h2>
       </div>
       <div class="parte-central">
           <div class="parte-de-arriba"> 
                <p class="titulo-uno">Argentina Campers</p>
                <h2 class="titulo-dos">Descubre nuestros vehiculos...</h2>  
           </div>
           <hr>
           <div class="parte-de-abajo">
                <div class="texto">
                    <div>
                        <p>Punto de retiro</p>
                        <input type="text">
                    </div>
                    <div class="este-lleva-linea">
                        <p>Punto de devolucion</p>
                        <input type="text">
                    </div>
                    <div class="este-lleva-linea">
                        <p>Fecha de retiro</p>
                        <input type="date" name="fecha">
                    </div>
                    <div class="este-lleva-linea">
                        <p>Hora de retiro</p>
                        <input type="text">
                    </div>
                    <div class="este-lleva-linea">
                        <p>Fecha de devolucion</p>
                        <input type="date" name="fecha">
                    </div>
                    <div class="este-lleva-linea">
                        <p>Hora de devolucion</p>
                        <input type="text">
                    </div>
                </div>
           </div>           
       </div>
       <div class="nuestros-vehiculos">
            <h2>
                Nuestros vehiculos
            </h2>
        </div>
        <div class="vehiculos">
            <div class="vehiculo">
                <img src="./img/kangoo.png" alt="Renault Kangoo" class="imagen-van">
                <p>Renault Kangoo</p>
            </div>
            <div class="vehiculo">
                <img src="./img/citroenjumpy.png" alt="Citroen Jumpy"  class="imagen-van">
                <p>Citroen Jumpy</p>
            </div>
            <div class="vehiculo">
                <img src="./img/toyotahiace.png" alt="Toyota Hiace"  class="imagen-van">
                <p>Toyota Hiace</p>
            </div>
        </div>
        <div class="nuestras-ubicaciones-populares">
            <h2>
                Nuestras ubicaciones populares
            </h2>
        </div>
        <div class="ubicaciones">
            <div class="ubicacion">
            </div>
            <div class="ubicacion">
            </div>
            <div class="ubicacion"> 
            </div>
            <div class="ubicacion">
            </div>
        </div>
    </section>
    <footer>
    </footer>
</body>
</html>