<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h2>Historias de usuario (requisitos):</h2>
  
<ul>
    <li>★ Como cliente quiero ver un resumen de la oferta de productos para poder decidir
        rápidamente si quedarme o buscar el producto en otro sitio.</li>
        
        <li>★ Como cliente quiero que el sitio funcione bien en mi teléfono celular para poder
        acceder en cualquier momento.</li>

</ul>
</body>
</html>