<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Página donde el cliente puede ingresar con el usuario que creó previamente.</h1>
   
  <h2>Historias de usuario (requisitos):</h2>
  
    <ul>
        <li>★ Como cliente quiero poder loguearme para acceder a mi historial de compras.</li>
            
            <li>★ Como cliente quiero tener la opción de que el sitio me recuerde para no escribir mi
                usuario y contraseña cada vez.</li>
            <li>★ Como cliente quiero poder recuperar la contraseña para poder ingresar si me la
                olvido.</li>
    </ul>
    
</body>
</html>