<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <header>
        <nav>
        <div>
            <img src="./images/logo.png" alt="Logo Argentina campers" class="logo">
        </div>
        
            <a href="" class="links-header"><h2>Home</h2></a>
            <a href="" class="links-header"><h2>Nuestras CamperVans</h2></a>
            <a href="" class="links-header"><h2>Reservar</h2></a>
            <a href="" class="links-header"><h2>Sobre nosotros</h2></a>
            <a href="" class="links-header"><h2>Contactanos</h2></a>
            <a href="" class="links-header"><i class="fa-solid fa-cart-shopping"></i></a>
        <div class="iniciar-sesion">
            <a href="" class="links-header"><h4>Iniciar sesion</h4></a>
            
        </div>
    </nav>
    </header>
</body>
</html>