<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/productDetail.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc78f0f8da.js" crossorigin="anonymous"></script>
    <title>Nuestros vehículos</title>
</head>
<body>
    <header>
        <nav>
        <div>
            <img src="./images/logo.png" alt="Logo Argentina campers" class="logo">
        </div>
        
            <a href="" class="links-header"><h2>Home</h2></a>
            <a href="" class="links-header"><h2>Nuestras CamperVans</h2></a>
            <a href="" class="links-header"><h2>Reservar</h2></a>
            <a href="" class="links-header"><h2>Sobre nosotros</h2></a>
            <a href="" class="links-header"><h2>Contactanos</h2></a>
            <a href="" class="links-header"><i class="fa-solid fa-cart-shopping"></i></a>
        <div class="iniciar-sesion">
            <a href="" class="links-header"><h4>Iniciar sesion</h4></a>
            
        </div>
    </nav>
    </header>

    <!-- Cuerpo -->

    <section class="nav-vehiculos">
      <article>
          <h3><a href="./index.html">Home</a> / <a href="./productDetail.html">Nuestros Vehículos</a></h3>
      </article>
  </section>
  <div class="contenedor">
    <img src="/images/nuestrosVehiculos.png" alt="Banner principal" class="imagenCentrada">
     <div class="textoCentrado">Nuestros Vehículos</div>
  </div>
  
  <section class="descripcion">
      <h2 class="descTitular">¡Reservá tu CamperVan y preparate para un viaje repleto de aventura!</h2>
      <p class="descCopy">Argentina Campers reencuentra a las personas con sus almas viajeras y aventureras. Nuestras
          CamperVans aseguran un viaje lleno de experiencias únicas en una travesía cien porciento en libertad.</p>
  </section>

  <section class="productos">

<article class="descProductos">
    <h4>Renault Kango</h4>
    <img src="/images/kangoo.png" alt="Renault Kangoo" class="productoImg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, excepturi magni sapiente vero necessitatibus, dolor cum ullam impedit aliquam facilis rerum earum voluptas nulla hic minima doloribus? Cumque, tenetur modi.</p>
    <div class="masDetalles">
        <a href="#">Más Detalles</a>
    </div>
</article>

<article class="descProductos">
    <h4>Citröen Jumpy</h4>
    <img src="/images/citroenjumpy.png" alt="Citröen Jumpy" class="productoImg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, excepturi magni sapiente vero necessitatibus, dolor cum ullam impedit aliquam facilis rerum earum voluptas nulla hic minima doloribus? Cumque, tenetur modi.</p>
    <div class="masDetalles">
        <a href="#">Más Detalles</a>
    </div>
</article>

<article class="descProductos">
    <h4>Toyota Hiace</h4>
    <img src="/images/toyotahiace.png" alt="Toyota Hiace" class="productoImg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, excepturi magni sapiente vero necessitatibus, dolor cum ullam impedit aliquam facilis rerum earum voluptas nulla hic minima doloribus? Cumque, tenetur modi.</p>
    <div class="masDetalles">
    <a href="#">Más Detalles</a>
</div>
</article>
  </section>
  <div class="cierre">
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, dolor a. Consectetur repellendus id nam corrupti dicta magni</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, optio repellat exercitationem accusamus pariatur molestiae. Iure consectetur quasi vitae eveniet nihil ducimus, ratione dolorem nam, animi laboriosam alias cupiditate voluptate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aperiam facilis adipisci rerum, sunt autem dignissimos illo accusantium saepe eaque odit error possimus ratione ex doloremque officia debitis quia quae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat quod asperiores culpa dolorem, iste doloribus impedit id voluptate minima voluptatem quos a assumenda non ad. Et eius exercitationem architecto corporis!</p>
  </div>
    <h1>Página a la que accede el cliente al hacer click en un producto.</h1>
   
   <h2>Historias de usuario (requisitos):</h2>
  
<ul>
        <li>★ Como cliente quiero poder ver toda la información relevante del producto para
            decidir si voy a comprarlo.</li>
        
        <li>★ Como cliente quiero poder agregar fácilmente el producto a mi carrito para poder
            comprarlo.</li>
</ul>
</body>
</html>