<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Página a la que accede el cliente al hacer click en un producto.</h1>
   
   <h2>Historias de usuario (requisitos):</h2>
  
<ul>
        <li>★ Como cliente quiero poder ver toda la información relevante del producto para
            decidir si voy a comprarlo.</li>
        
        <li>★ Como cliente quiero poder agregar fácilmente el producto a mi carrito para poder
            comprarlo.</li>
</ul>
</body>
</html>