<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/productCart.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d70d29ff66.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
</head>
<body>
    <header>
        <nav>
            <img src="./images/logo.png" alt="Logo Argentina campers" class="logoAC">

       
  
        <a href="home" class="links-header-nav"><h2>Home</h2></a>
            <a href="product-detail" class="links-header-nav"><h2>Nuestras CamperVans</h2></a>
            <a href="" class="links-header-nav"><h2>Reservar</h2></a>
            <a href="" class="links-header-nav"><h2>Sobre nosotros</h2></a>
            <a href="" class="links-header-nav"><h2>Contactanos</h2></a>
         <div class="menu"><p><i class="fa-solid fa-bars"></i></p></div>
         <div class="carro-header"><a href="rental-cart" class="links-header"><i class="fa-solid fa-cart-shopping"></i></a></div>
            <div class="iniciar-sesion">
                <div class="usuario">
                    
                <h4><i class="fa-solid fa-right-to-bracket"></i><a href="login" class="links-header">Iniciar sesion</a></h4>
                 </div>

        <div class="usuario">
            <h4><i class="fa-solid fa-address-card"></i><a href="register" class="links-header">Registrarse</a></h4>
    </div></div>
    </nav>
    </header>
    <section class="nav-vehiculos">
        <article>
            <h3><a href="home">Home</a> / <a href="product-cart">Carrito</a></h3>
        </article>
    </section>
    <section class="cuerpo">
        <div class="text-carrito">
            <h1>Carrito</h1>
        </div>
        <div class="carrito">
            <div class="container-vans">
                <div class="van">
                    <div class="imagenes">
                        <a href=""><img src="./images/kangoo.png" alt="Kangoo" class="imagen"></a>
                    </div>
                    <div class="detalles">
                        <p class="numero-de-van">CamperVan n°1</p>
                        <p class="tiempo-de-alquiler">Alquiler por 5 dias</p>
                    </div>
                    <div class="precios">
                        <p class="precio">$15000</p>
                    </div>
                </div>
            </div>
            <div class="resumen-de-la-compra">
                <div class="total">
                    <p>Total</p>
                </div>
                <div class="precio-del-resumen">
                    <p>$15000</p>
                </div>
                <div class="buttons-resumen">
                    <div class="boton-seguir-comprando">
                        <a href="product-detail"><button>Seguir comprando</button></a>
                    </div>
                    <div class="boton-resumen">
                        <button type="submit">Comprar</button>
                    </div>
                </div>
            </div>

        </div>
    </section>







    <footer>
        <div class="footerGroup">
            <div class="footerContent">
                <div class="contactUs">
                   <div> <img src="./images/logo.png" alt="Logo Argentina campers" class="logoFooter"></div>
                   <div class="footerMail">
                    <span class="iconosFooter"><i class="fa-solid fa-envelope-open-text"></i></span>
                    <div class="ContenidoContacto">
                    <span>Email</span>
                    <br>
                    <span>info@argentinacampers.com.ar</span>
                    </div>
                   </div>
                   <div class="footerTel">
                    <span class="iconosFooter"><i class="fa-solid fa-phone-volume"></i></span>
                    <div class="ContenidoContacto">
        <span>Teléfono</span>
        <br>
        <span>Buenos Aires</span>
        <br>
        <span>+54 011 5418-7697</span>
                    </div>
                   </div>
                   <div class="footerRedes">
                    <span class="seguinos">Nuestras redes</i></span>
                    <div class="nuestrasRedes">
        <span class="fb"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></span>
        <span class="ig"><a href="#"><i class="fa-brands fa-instagram"></i></i></a></span>
        <span class="yt"><a href="#"><i class="fa-brands fa-youtube"></i></i></a></span>
                    </div>
                   </div>
                </div>
                <div class="footerList">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Nuestras CamperVans</a></li>
                        <li><a href="#">Políticas de entrega</a></li>
                        <li><a href="#">Políticas de renta</a></li>
                        <li><a href="#">Blog viajero</a></li>
                    </ul>
                </div>
                <div class="footerList2">
                    <h4>Nuestras CamperVans</h4>
                    <ul>
                        <li><a href="#">Renault Kangoo</a></li>
                        <li><a href="#">Citröen Jumpy</a></li>
                        <li><a href="#">Toyota Hiace</a></li>
                    </ul>
                </div>
                <div class="footerList3">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Políticas de privacidad</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Iniciar sesión</a></li>
                        <li><a href="#">Dejar mi comentario</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>