<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/productDetail.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc78f0f8da.js" crossorigin="anonymous"></script>

    <title>Nuestros vehículos</title>
</head>
<body>
    <header>
        <nav>
            <img src="./images/logo.png" alt="Logo Argentina campers" class="logoAC">

       
  
        <a href="home" class="links-header-nav"><h2>Home</h2></a>
            <a href="product-detail" class="links-header-nav"><h2>Nuestras CamperVans</h2></a>
            <a href="" class="links-header-nav"><h2>Reservar</h2></a>
            <a href="" class="links-header-nav"><h2>Sobre nosotros</h2></a>
            <a href="" class="links-header-nav"><h2>Contactanos</h2></a>
         <div class="menu"><p><i class="fa-solid fa-bars"></i></p></div>
         <div class="carro-header"><a href="rental-cart" class="links-header"><i class="fa-solid fa-cart-shopping"></i></a></div>
            <div class="iniciar-sesion">
                <div class="usuario">
                    
                <h4><i class="fa-solid fa-right-to-bracket"></i><a href="login" class="links-header">Iniciar sesion</a></h4>
                 </div>

        <div class="usuario">
            <h4><i class="fa-solid fa-address-card"></i><a href="register" class="links-header">Registrarse</a></h4>
    </div></div>
    </nav>
    </header>

    <!-- Cuerpo -->

    <section class="nav-vehiculos">
      <article>
          <h3><a href="home">Home</a> / <a href="product-detail">Nuestros Vehículos</a></h3>
      </article>
  </section>
  <div class="contenedor">
    <img src="/images/nuestrosVehiculos.png" alt="Banner principal" class="imagenCentrada">
     <div class="textoCentrado">Nuestras CamperVans</div>
  </div>
  
  <section class="descripcion">
      <h2 class="descTitular">¡Reservá tu CamperVan y preparate para un viaje repleto de aventura!</h2>
      <p class="descCopy">Argentina Campers reencuentra a las personas con sus almas viajeras y aventureras. Nuestras
          CamperVans aseguran un viaje lleno de experiencias únicas en una travesía cien porciento en libertad.</p>
  </section>

  <section class="productos">

<article class="descProductos">
    <h4>Renault Kango</h4>
    <img src="/images/kangoo.png" alt="Renault Kangoo" class="productoImg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, excepturi magni sapiente vero necessitatibus, dolor cum ullam impedit aliquam facilis rerum earum voluptas nulla hic minima doloribus? Cumque, tenetur modi.</p>
    <div class="masDetalles">
        <a href="#">Más Detalles</a>
    </div>
</article>

<article class="descProductos">
    <h4>Citröen Jumpy</h4>
    <img src="/images/citroenjumpy.png" alt="Citröen Jumpy" class="productoImg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, excepturi magni sapiente vero necessitatibus, dolor cum ullam impedit aliquam facilis rerum earum voluptas nulla hic minima doloribus? Cumque, tenetur modi.</p>
    <div class="masDetalles">
        <a href="#">Más Detalles</a>
    </div>
</article>

<article class="descProductos">
    <h4>Toyota Hiace</h4>
    <img src="/images/toyotahiace.png" alt="Toyota Hiace" class="productoImg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, excepturi magni sapiente vero necessitatibus, dolor cum ullam impedit aliquam facilis rerum earum voluptas nulla hic minima doloribus? Cumque, tenetur modi.</p>
    <div class="masDetalles">
    <a href="#">Más Detalles</a>
</div>
</article>
  </section>
  <div class="cierre">
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, dolor a. Consectetur repellendus id nam corrupti dicta magni</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, optio repellat exercitationem accusamus pariatur molestiae. Iure consectetur quasi vitae eveniet nihil ducimus, ratione dolorem nam, animi laboriosam alias cupiditate voluptate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aperiam facilis adipisci rerum, sunt autem dignissimos illo accusantium saepe eaque odit error possimus ratione ex doloremque officia debitis quia quae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat quod asperiores culpa dolorem, iste doloribus impedit id voluptate minima voluptatem quos a assumenda non ad. Et eius exercitationem architecto corporis!</p>
  </div>

    <div class="msjPosisionAbsoluta">
        <div class="msj">
            <a href="#"><i class="fa-solid fa-comment"></i></a>
        </div>
    </div>

  <footer>
    <div class="footerGroup">
        <div class="footerContent">
            <div class="contactUs">
               <div> <img src="./images/logo.png" alt="Logo Argentina campers" class="logoFooter"></div>
               <div class="footerMail">
                <span class="iconosFooter"><i class="fa-solid fa-envelope-open-text"></i></span>
                <div class="ContenidoContacto">
                <span>Email</span>
                <br>
                <span>info@argentinacampers.com.ar</span>
                </div>
               </div>
               <div class="footerTel">
                <span class="iconosFooter"><i class="fa-solid fa-phone-volume"></i></span>
                <div class="ContenidoContacto">
    <span>Teléfono</span>
    <br>
    <span>Buenos Aires</span>
    <br>
    <span>+54 011 5418-7697</span>
                </div>
               </div>
               <div class="footerRedes">
                <span class="seguinos">Nuestras redes</i></span>
                <div class="nuestrasRedes">
    <span class="fb"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></span>
    <span class="ig"><a href="#"><i class="fa-brands fa-instagram"></i></i></a></span>
    <span class="yt"><a href="#"><i class="fa-brands fa-youtube"></i></i></a></span>
                </div>
               </div>
            </div>
            <div class="footerList">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Nuestras CamperVans</a></li>
                    <li><a href="#">Políticas de entrega</a></li>
                    <li><a href="#">Políticas de renta</a></li>
                    <li><a href="#">Blog viajero</a></li>
                </ul>
            </div>
            <div class="footerList2">
                <h4>Nuestras CamperVans</h4>
                <ul>
                    <li><a href="#">Renault Kangoo</a></li>
                    <li><a href="#">Citröen Jumpy</a></li>
                    <li><a href="#">Toyota Hiace</a></li>
                </ul>
            </div>
            <div class="footerList3">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Iniciar sesión</a></li>
                    <li><a href="#">Dejar mi comentario</a></li>
                </ul>
            </div>
        </div>
    </div>
        </footer>
</body>
</html>