<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/productDetail.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc78f0f8da.js" crossorigin="anonymous"></script>

    <title>Nuestros vehículos</title>
</head>
<body>
    <header>
        <nav>
            <img src="./images/logo.png" alt="Logo Argentina campers" class="logoAC">

       
  
        <a href="home" class="links-header-nav"><h2>Home</h2></a>
            <a href="product-detail" class="links-header-nav"><h2>Nuestras CamperVans</h2></a>
            <a href="" class="links-header-nav"><h2>Reservar</h2></a>
            <a href="" class="links-header-nav"><h2>Sobre nosotros</h2></a>
            <a href="" class="links-header-nav"><h2>Contactanos</h2></a>
         <div class="menu"><p><i class="fa-solid fa-bars"></i></p></div>
         <div class="carro-header"><a href="rental-cart" class="links-header"><i class="fa-solid fa-cart-shopping"></i></a></div>
            <div class="iniciar-sesion">
                <div class="usuario">
                    
                <h4><i class="fa-solid fa-right-to-bracket"></i><a href="login" class="links-header">Iniciar sesion</a></h4>
                 </div>

        <div class="usuario">
            <h4><i class="fa-solid fa-address-card"></i><a href="register" class="links-header">Registrarse</a></h4>
    </div></div>
    </nav>
    </header>

    <!-- Cuerpo -->

    <section class="nav-vehiculos">
      <article>
          <h3><a href="home">Home</a> / <a href="product-detail">Nuestros Vehículos</a></h3>
      </article>
  </section>
  <div class="contenedor">
    <img src="/images/nuestrosVehiculos.png" alt="Banner principal" class="imagenCentrada">
     <div class="textoCentrado">Nuestras CamperVans</div>
  </div>
  
  <section class="descripcion">
      <h2 class="descTitular">¡Reservá tu CamperVan y preparate para un viaje repleto de aventura!</h2>
      <p class="descCopy">Argentina Campers reencuentra a las personas con sus almas viajeras y aventureras. Nuestras
          CamperVans aseguran un viaje lleno de experiencias únicas en una travesía cien porciento en libertad.</p>
  </section>

  <section class="productos">

<article class="descProductos">
    <h4>Renault Kango</h4>
    <img src="/images/kangoo.png" alt="Renault Kangoo" class="productoImg">
    <p>Nuestra Camper Van con capacidad para dos personas adultas, para recorrer los más bellos paisajes de la Argentina de forma práctica, compacta y cómoda. Renaul Kangoo, creada para aventureros.</p>
    <div class="masDetalles">
        <a href="#">Más Detalles</a>
    </div>
</article>

<article class="descProductos">
    <h4>Citröen Jumpy</h4>
    <img src="/images/citroenjumpy.png" alt="Citröen Jumpy" class="productoImg">
    <p>Esta Camper Van tiene una capacidad de dos adultos y un menor, la cuál brinda extrema comodidad y seguridad para viajar por toda la Argentina en un vehículo ampliamente confortable para manejar y viajar.</p>
    <div class="masDetalles">
        <a href="#">Más Detalles</a>
    </div>
</article>

<article class="descProductos">
    <h4>Toyota Hiace</h4>
    <img src="/images/toyotahiace.png" alt="Toyota Hiace" class="productoImg">
    <p>La Camper Hiace fue la última incorporación de nuestra empresa y es realmente espectacular. Cuenta con capacidad para que viajen 4 personas extremadamente cómodas, es lo más parecido a un hotel con ruedas que veras en mucho tiempo.</p>
    <div class="masDetalles">
    <a href="#">Más Detalles</a>
</div>
</article>
  </section>
  <div class="cierre">
      <h4>Realizá el viaje de tus sueños con una de nuestras Camper Vans. Vehículos accesibles, prácticos y únicos.</h4>
      <p>Desde Argentina Campers nos gusta decir que lo importante de un viaje no es el destino, sino que lo es el camino. Nuestros vehículos ofrecen la posibilidad de viajar con muchos lujos en un sólo lugar. <br><br>Las Camper Vans cuentan con una cama armmable y desarmable en la parte trasera de la camioneta, una mesa con asientos para poder disfrutar de una rica comida, utensilios de cocina y elementos para cocinar, y muchas cosas más. <br><br>Animate a dar el salto hacia la aventura, te esperamos.</p>
  </div>

    <div class="msjPosisionAbsoluta">
        <div class="msj">
            <a href="#"><i class="fa-solid fa-comment"></i></a>
        </div>
    </div>


    <!-- Footer -->
    <%- include('./partials/footer') %> 
</body>
</html>