<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
   <h1>Página donde el cliente puede visualizar su compra actual y proceder al pago.</h1>
   
   <h2>Historias de usuario (requisitos):</h2>
  
<ul>
        <li>★ Como cliente quiero poder acceder al detalle de mi carrito de compras en
cualquier momento para finalizar la compra.</li>
        
        <li>★ Como cliente quiero poder modificar productos del carrito para poder eliminarlos
de la compra o modificar la cantidad.</li>
</ul>
</body>
</html>