

Historias de usuario (requisitos):



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Register</title>
</head>
<body>
    <header>
        <nav>
        <div>
            <img src="./images/logo.png" alt="Logo Argentina campers" class="logo">
        </div>
        
            <a href="" class="links-header"><h2>Home</h2></a>
            <a href="" class="links-header"><h2>Nuestras CamperVans</h2></a>
            <a href="" class="links-header"><h2>Reservar</h2></a>
            <a href="" class="links-header"><h2>Sobre nosotros</h2></a>
            <a href="" class="links-header"><h2>Contactanos</h2></a>
            <a href="" class="links-header"><i class="fa-solid fa-cart-shopping"></i></a>
        <div class="iniciar-sesion">
            <a href="" class="links-header"><h4>Iniciar sesion</h4></a>
            
        </div>
    </nav>
    </header>

    <section></section>

    <h1>Página donde el cliente puede registrarse como usuario del sitio.</h1>
   
    <h2>Historias de usuario (requisitos):</h2>
   
 <ul>
        
         <li>★ Como cliente quiero poder registrarme para estar en su base de datos y acceder a
mi perfil e historial de compras de una manera más sencilla y, además, facilitar el
proceso de futuras compras.</li>
 </ul>
</body>
</html>
