/*etiquetassssssssssssssssssssss*/
body{
    background-color: bisque;
}
label{
    width:70%;
    
    display: block;
    
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    
}a{
    text-decoration:none;
    
}a:visited{
    color:black;
}


/*clasesssssssssssssssssssssssss*/
.logo{
    width:15vw;
    height: 10vh;
    
}.divLogo{
    text-align: center;
    
}
.articulo{
    display:  inline-block;
    width: 60vw;
    height: 100vh;
    padding: 0%;
    margin: 0;
}.formularioInicio{
    padding: 0%;
    margin: 0;
    width: 30vw;
    height: 100vh;
    text-align: center;
    
    position: relative;
    right:0;
    top: 10;
}


.inputInicio{
    width: 70vw;
    height:4vh;
}
.divBoton_input{
    
    margin-top: 5px;
    margin-bottom: 5vh;
    width: 80%;
    margin-right: 10%;
    margin-left: 35%;
    

    
}
.boton{
    
    margin-right: auto;
    margin-left:auto;
    text-decoration: none;
    width: 70%;
    height:40%;
    
    
}



/*medias queris chico------------------------------------------------*/


@media (max-width: 768px){
    

    .navGrande{
        
        display: none;
        
        
    }.formularioInicio{
        display: inline-block;
        text-align: center;
        align-items: center;
        
    }
    label{
        font-size: 1.5rem;
    }.navegacionS{
        
        width: 10vw;
        height: 4vh;
        margin-right: 45vw;
        margin-left: 45vw;
    
    }.articulo{
        display:none;
    }
}
/*medias queris grande------------------------------------------------*/
@media(min-width: 769px){
    #sliderMenu{
       display:none;
       
    }
    .boton{
        height: 30px;
        width:80%;
        
    }.inputInicio{
        height: 30px;
        width:80%
    }
    
}