/*body*/
body{
    font-family: lato;
    background: #FFEED2;;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    font-size: 1.5 rem;
    color:#BDA48A;
}hr{
    border-color:#BDA48A;
}
/*bodyyyyy*/

.nav-vehiculos{
    background-color: #957f65;
    color: #FFEED2;
    padding: 10px;
    padding-left: 7%;
    font-size: 80%;
}

.nav-vehiculos a {
    text-decoration: none;
    color: lightblue;
    font-weight: lighter;
}

.nav-vehiculos a:hover {
    text-decoration: none;
    color: lightskyblue;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
}




.containerTotal{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}.container{
    
    width: 50%;
}
.padreForm{
    /* position: relative; */
    left: 55px;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 60vh;
    box-shadow: 0px 1px 5px 3px rgba(149, 127, 101, 1);
    border: 1px solid rgba(75, 72, 81, 0.2);
    border-radius: 1rem;
    padding: 20px;
    margin:10%;
    color: #BDA48A;
}.divMenu{
   
    text-align: center;
    padding-bottom:10px;
    color:#BDA48A;
    
}label{
    
    height: 20px;
    font-size: 1.5rem;
}input{
    
    height: 2.2rem;
    width:80%;
    border-radius: 1rem;
}

.divMenu button{
    background-color: #BDA48A;
    border-radius: #bda48a 1px solid;
    color: #FFEED2;
     width: 80%;
    height: 2rem;
    border-radius: 1rem;
    font-family:lato;
    font-size: 1.2rem;
    }
    .divMenu button a{
        list-style: none;
        color: #FFEED2;
        text-decoration:none ;
         }
.divMenu button:hover{
    color:#bda48a;
    background-color: #FFEED2;
}

.divMenu button:hover a{
    color:#bda48a;
    background-color: #FFEED2;
}

.lore{
    text-align: center;
    padding: 10px;
    margin:50px;
}

@media(max-width:769px){
    .container{
        display:none;
    }.formulario{
        width: 80%;
        height: 60%;
    }.padreForm{
        width:100%;
        left:10%;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
}