*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Header*/

header nav{
    color: #BDA48A;
    background-color: #FFEED2;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    border: solid 1px #BEA088;
}

.logoAC{
    width: 10%;
    display: none;
}

.navegadorLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links-header-nav{
    font-size: 9px;
    display: none;
    text-decoration: none;
    color: #BDA48A;
    padding: 15px;

}

.links-header-nav:hover{
    color: #957F65;
}

.carro-header{
    padding: 10px 10px;
    font-size: 16px;
    background-color: #BDA48A;
    border-radius: 1rem;
}

.carro-header .links-header{
    color: #FFEED2;
}

.menu{
    padding: 10px 12px;
    font-size: 17px;
    background-color: #BDA48A;
    border-radius: 1rem;
}

.menu p{
    color: #FFEED2;
}

.menu:hover{
    background-color:#957F65 ;
    color: #FFEED2;
}

.links-header{
    text-decoration: none;
    color: #BDA48A;
}

.links-header:hover{
    color: #957F65;
}


.usuario{
    border: 2px solid #BEA088;
    padding: 5px 5px ;
    margin: 4px 0 4px 5px;
    margin-bottom: 4px;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.usuario h4{
    font-size: 16px;
}

.usuario h4 i{
margin-right: 5px;
}

/*Cuerpo*/



.nav-vehiculos{
    background-color: #957f65;
    color: #FFEED2;
    padding: 10px;
    padding-left: 7%;
    font-size: 80%;
}

.nav-vehiculos a {
    text-decoration: none;
    color: lightblue;
    font-weight: lighter;
}

.nav-vehiculos a:hover {
    text-decoration: none;
    color: lightskyblue;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.cuerpo{
    background-color: #FFEED2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contenedor{
    position:relative;
    display: inline-block;
    text-align: center;
    width: 100vw;

}

.imagenCentrada{
    width: 100%;
    height: auto;
}

.textoCentrado{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 150px 0px;
    font-size: 3vw;
    font-weight: bold;
}

.parte-central{
    background-color: #FFEED2;
    border: 1px solid rgba(75, 72, 81, 0.2);
    width: 60vw;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0px 1px 5px 3px rgba(149, 127, 101, 1);
    color: #080d4d;
    position: relative;
    bottom: 60px;
}

.titulo-uno{
    text-align: left;
    padding: 10px 0 5px 20px;
}

.titulo-dos{
    text-align: left;
    padding: 5px 0 5px 20px;
}

hr{
    color: #4B4851;
    opacity: 0.2;
}

.texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.texto input::placeholder {
    padding-left: 5px;
}

.textoDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.textoDiv .casillasHome{
    width:100%;
}

.este-lleva-linea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.este-lleva-linea label{
    margin-bottom: 5px;
}

.fechaYHoraDevolucion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    width: 100%;
}

.fechaYHoraDevolucion input{
    width: 150px;
    border-radius: 5px;
    border: 1px solid #957f65;
    background-color: #957f65;
    color: #ffeed2;
    text-align: center;
}
.casillasHome{
    height: 40px;
}

.texto div input{
    width: 100%;
}


.nuestros-vehiculos{
    padding: 0px 0 50px 0;
    color: #000000;
}


.vehiculos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.vehiculo{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.imagen-van{
    width: 375px;
    height: 175px;
}

.vehiculo p{
    color: #47525E;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

.nuestras-ubicaciones-populares{
    padding: 50px 0;
    color: #000000;
}


.ubicaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.div-img{
    margin: 30px;
}

.ubicacion{
    background-color: rgba(208, 187, 171, 0.39);
    border-radius: 100%;
    width: 266px;
    height: 256px;
    padding: 30px;
    text-align: center;
}

.msjPosisionAbsoluta{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 40px;
    padding: 20px;
    background-color: #3b5998;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.msj{
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 4px;
}

.msjPosisionAbsoluta div a i{
    list-style: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    padding: 1px;
}


/* Footer */


footer{
    background-color: #957f65;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.footerContent {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    padding: 30px 30px 30px 30px;
}

.contactUs{
    padding: 25px 5px;
    position:relative;
}

.logoFooter{
    position: relative;
    width: 80px;
}


.footerMailTel{
    display: flex;
    justify-content: flex-start;
    color: #FFEED2;
    margin: 15px 0;     
    padding: 5px;
}


.iconosFooter{
    font-size: 35px;
    margin-right: 10px;
}

.ContenidoContacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}


.footerRedes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #FFEED2;
    margin: 25px 0;     
    padding: 5px;
}

.seguinos{
    width: 100%;
}


.nuestrasRedes{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

.nuestrasRedes div a i{
    color: #FFEED2;
    font-size: 34px;
}

.fb{
    margin-right: 5px;
};

.ig{
    margin: 0px 5px;
}

.yt{
    margin-left: 5px;
}

.fb i{
    transition: all 200ms;
}

.ig i{
    transition: all 200ms;
}

.yt i{
    transition: all 200ms;
}
 
.fb:hover i{
    color: #3b5998 ;
}
 
.ig:hover i{
    color: #3f729b;
}

.yt:hover i{
    color: #c4302b;
}


.footerList1{
    padding: 25px 5px;
    position: relative;
}


.footerList2{
    padding: 25px 5px;
    position: relative;
}


.footerList3{
    padding: 25px 5px;
    position: relative;
}

.footerList h4{
    margin-bottom: 50px;
    font-weight: bold;
    color: #FFEED2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footerList li{
    list-style: none;
    line-height: 32px;
}

.footerList li a{
    text-decoration: none;
    color: #FFEED2;
}


.footerList li a{
    transition: all 200ms;
}

.footerList li a:hover{
    color: #080d4d;
}


@keyframes color{
    0%{
        color: #FFEED2;
    }
    100%{
        color: #080d4d;
    }
}


@media (min-width: 0) and (max-width: 480px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    /* Body */

    .parte-central{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .logoAC{
        display: block;
    }

    .parte-de-arriba{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .titulo-uno{
        text-align: center;
        padding: 0;
    }

    .titulo-dos{
        text-align: center;
        padding: 0;
    }

    .parte-de-abajo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    

    .texto{
        padding: 0;
    }

    .texto div input{
        margin: 0;
    }



    .vehiculo{
        width: 90vw;
    }

    .imagen-van{
        width: 100%;
        height: 50%;
    }

    .nuestras-ubicaciones-populares h2 {
        text-align: center;
    }

    .footerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .contactUs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        font-size: 16px;
    }
    .footerList{
        display: none;
    }
    .iconosFooter {
        font-size: 30px;
    }

    .nuestrasRedes div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .nuestrasRedes div a i{
        font-size: 30px;
    }
}






@media (min-width: 481px) and (max-width: 768px){

    /* Body */

    .parte-central{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .logoAC{
        display: block;
    }

    .parte-de-arriba{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .titulo-uno{
        text-align: center;
    }

    .titulo-dos{
        text-align: center;
    }

    .parte-de-abajo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .fechaYHoraDevolucion div{
        margin-bottom: 15px;

    }

    .texto{
        padding: 0;
    }

    .texto div input{
        margin: 0;
    }

    /* Footer */

    .footerList{
        display: none;
    }

    .contactUs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactUs div{
        text-align: center;
    }

    .footerMailTel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }  

    .iconosFooter{
        margin: 0;
        padding: 0;
    }

    .ContenidoContacto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .nuestrasRedes{
        width: auto;
    }

    .nuestrasRedes div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}




@media (min-width:769px) and (max-width:1279px) {
    /* Header */
    header nav{
        font-size: 12px;
    }

    .menu{
        display: none;
    }
 
    .logoAC{
        display: block;
        width: 4rem;
    }
 
    .logo{
        width: 50px;
        height: 50px;
    }
     
    .links-header-nav{
        display: block
    }
    
    .links-header{
        text-decoration: none;
        color: #BDA48A;
    }
 
    .links-header:hover{
        color: #957F65;
    }
 
    .iniciar-sesion{
        display: flex;
        flex-direction: column;
    }

    .usuario{
        border: 2px solid #BEA088;
        padding: 2% ;
        margin-bottom: 2%;
        border-radius: 1rem;
    }
 
     

 /* Footer */

    .footerContent{
        padding: 15px 30px;
    }   

    .footerList2{
        display: none;
    }

    .nuestrasRedes div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footerList{
        padding: 50px 5px;
    }

    
   
 /* End footer */
}
 
 
 
 
@media (min-width: 1280px){
    header nav{
        font-size: 14px;
    }

    .menu{
        display: none;
    }
 
    .logoAC{
        display: block;
        width: 4rem;
    }
 
    .logo{
        width: 50px;
        height: 50px;
    }
     
    .links-header-nav{
        display: block;
        font-size: 14px;
    }
    
    .links-header{
        text-decoration: none;
        color: #BDA48A;
    }
 
    .links-header:hover{
        color: #957F65;
        font-size: 24px;
    }
 
    .iniciar-sesion{
        display: flex;
        flex-direction: column;
    }

    .usuario{
        border: 2px solid #BEA088;
        padding: 2% ;
        margin-bottom: 2%;
        border-radius: 1rem;
    }

   


    /* Footer */

    .footerContent{
        padding: 15px 30px;
    }

    .nuestrasRedes div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footerList{
        padding: 50px 5px;
    }


}

 
 
