*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Header*/

header nav{
    color: #BDA48A;
    background-color: #FFEED2;
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border: solid 1px #BEA088;
}


.logo{
    width: 50px;
    height: 50px;
}

.links-header{
    text-decoration: none;
    color: #BDA48A;
}

.links-header:hover{
    color: #957F65;
}


.iniciar-sesion{
    border: 3px solid #BEA088;
    padding: 5px;
    border-radius: 20px;
}

/*Cuerpo*/

.cuerpo{
    background-color: #FFEED2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home{
    text-align: center;
    padding: 100px;
}

.parte-central{
    background-color: #D0BBAB;
    border: 1px solid rgba(75, 72, 81, 0.2);
    width: 60vw;
}

.titulo-uno{
    text-align: left;
    padding: 10px 0 5px 20px;
}

.titulo-dos{
    text-align: left;
    padding: 5px 0 5px 20px;
}

hr{
    color: #4B4851;
    opacity: 0.2;
}

.texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 5px 20px;
}

.texto div{
    flex-grow: 0.15;
    padding: 0 10px 0 10px;
}

.este-lleva-linea{
    border-left: 1px solid rgba(75, 72, 81, 0.2);
}

.texto div input{
    width: 100%;
    margin: 5px 0 5px 0;
}


.nuestros-vehiculos{
    padding: 50px 0 20px 0;
    color: #000000;
}


.vehiculos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.vehiculo{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgba(208, 187, 171, 0.39);
    border: 1px solid #8492A6;
}

.imagen-van{
    width: 375px;
    height: 175px;
}

.vehiculo p{
    color: #47525E;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

.nuestras-ubicaciones-populares{
    padding: 50px 0 20px 0;
    color: #000000;
}


.ubicaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.ubicacion{
    background-color: rgba(208, 187, 171, 0.39);
    border-radius: 100%;
    width: 266px;
    height: 256px;
    margin: 30px;
    padding: 30px;
    text-align: center;
}
