*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Header*/

header nav{
    color: #BDA48A;
    background-color: #FFEED2;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    border: solid 1px #BEA088;
}

.logoAC{
    width: 10%;
    display: none;
}

.navegadorLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links-header-nav{
    font-size: 9px;
    display: none;
    text-decoration: none;
    color: #BDA48A;
    padding: 15px;

}

.links-header-nav:hover{
    color: #957F65;
}

.carro-header{
    padding: 10px 10px;
    font-size: 16px;
    background-color: #BDA48A;
    border-radius: 1rem;
}

.carro-header .links-header{
    color: #FFEED2;
}

.menu{
    padding: 10px 12px;
    font-size: 17px;
    background-color: #BDA48A;
    border-radius: 1rem;
}

.menu p{
    color: #FFEED2;
}

.menu:hover{
    background-color:#957F65 ;
    color: #FFEED2;
}

.links-header{
    text-decoration: none;
    color: #BDA48A;
}

.links-header:hover{
    color: #957F65;
}


.usuario{
    border: 2px solid #BEA088;
    padding: 5px 5px ;
    margin: 4px 0 4px 5px;
    margin-bottom: 4px;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.usuario h4{
    font-size: 16px;
}

.usuario h4 i{
margin-right: 5px;
}

/*Cuerpo*/



.nav-vehiculos{
    background-color: #957f65;
    color: #FFEED2;
    padding: 10px;
    padding-left: 7%;
    font-size: 80%;
}

.nav-vehiculos a {
    text-decoration: none;
    color: lightblue;
    font-weight: lighter;
}

.nav-vehiculos a:hover {
    text-decoration: none;
    color: lightskyblue;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.cuerpo{
    background-color: #FFEED2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contenedor{
    position:relative;
    display: inline-block;
    text-align: center;
    width: 100vw;

}

.imagenCentrada{
    width: 100%;
    height: auto;
}

.textoCentrado{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 150px 0px;
    font-size: 3vw;
    font-weight: bold;
}

.parte-central{
    background-color: #FFEED2;
    border: 1px solid rgba(75, 72, 81, 0.2);
    width: 60vw;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0px 1px 5px 3px rgba(149, 127, 101, 1);
    color: #080d4d;
    position: relative;
    bottom: 60px;
}

.titulo-uno{
    text-align: left;
    padding: 10px 0 5px 20px;
}

.titulo-dos{
    text-align: left;
    padding: 5px 0 5px 20px;
}

hr{
    color: #4B4851;
    opacity: 0.2;
}

.texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px 20px 5px 20px;
    width: 100%;
}

.texto input::placeholder {
    padding-left: 5px;
}

.textoDiv .casillasHome{
    width:100%;
}

.fechaYHoraDevolucion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px 20px 5px 20px;
    width: 100%;
}

.fechaYHoraDevolucion input{
    width: 150px;
}
.casillasHome{
    height: 40px;
}

.texto div input{
    width: 100%;
    margin: 5px 0 5px 0;
}


.nuestros-vehiculos{
    padding: 0px 0 50px 0;
    color: #000000;
}


.vehiculos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.vehiculo{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.imagen-van{
    width: 375px;
    height: 175px;
}

.vehiculo p{
    color: #47525E;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

.nuestras-ubicaciones-populares{
    margin-top: 50px;
    padding: 50px 0 20px 0;
    color: #000000;
}


.ubicaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.ubicacion{
    background-color: rgba(208, 187, 171, 0.39);
    border-radius: 100%;
    width: 266px;
    height: 256px;
    margin: 30px;
    padding: 30px;
    text-align: center;
}

/* Footer */

.footerGroup{

background-color: #957f65;
font-size: 18px;
}

.footerContent{
display:flex;
flex-direction: row;
justify-content: space-around;
align-items:flex-start;
padding: 30px 30px 30px 30px;

}

.contactUs{
    padding: 25px 5px;
    position:relative;
}

.footerList{
    display: none;
padding-top: 50px;
    height: 200px;
}

.footerList2{
    display: none;
    padding-top: 50px;
        height: auto;
    }

    .footerList3{
        display: none;
        padding-top: 50px;
            height: auto;
        }

.iconosFooter{
    font-size: 35px;
    margin-right: 10px;
}

.logoFooter{
    position: absolute;
    top:0;
    left: 10px;
    width: 80px;
}

.footerMail{
display: flex;
padding: 5px;
justify-content: flex-start;
color: #FFEED2;
margin-top: 80px;
margin-bottom: 10px;
}
.footerTel{
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    color: #FFEED2;
    margin-bottom: 10px;
}
.footerRedes{
display: flex;
flex-direction: column;
padding: 5px;
justify-content: flex-start;
color: #FFEED2;
margin-bottom: 10px;
}

.nuestrasRedes a{
   color: #FFEED2;
   font-size: 34px;
   margin-right: 5px;
}

.fb:hover a{
color: #3b5998 ;
}

.ig:hover a{
color: #3f729b;
}
.yt:hover a{
    color: #c4302b;
}

.footerList h4{
    margin-bottom: 50px;
    font-weight: bold;
    color: #FFEED2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footerList li a{
    text-decoration: none;
    color: #FFEED2;
}

@keyframes color{
    0%{
        color: #FFEED2;
    }
    100%{
        color: #080d4d;
    }
}

.msjPosisionAbsoluta{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    font-size: 35px;
    background-color: #3b5998;
    border-radius: 50%;
}

.msjPosisionAbsoluta a{
    list-style: none;
    color: white;
}

.footerList li:hover a{
  animation: color 100ms 1 ;
}

.footerList li a:hover{
color: #080d4d;
}

.footerList2 li a:hover{
    color: #080d4d;
    }

    .footerList3 li a:hover{
        color: #080d4d;
        }

.footerList li{
    list-style: none;
    line-height: 32px;

}






@media (min-width: 546px) {
    .footerList{
        display: block;
    padding-top: 50px;
        height: 200px;
    }

    /* Body */

    .parte-central{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
.logoAC{
    display: block;
}

    .parte-de-arriba{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .titulo-uno{
        text-align: center;
    }

    .titulo-dos{
        text-align: center;
    }

    .parte-de-abajo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .fechaYHoraDevolucion div{
        margin-bottom: 15px;

    }

    .texto{
        padding: 0;
    }

    .texto div input{
        margin: 0;
    }
}

@media (min-width:782px) {
   /* Header */
    header nav{
        font-size: 10px;
    }


   .menu{
       display: none;
   }

   .logoAC{
    width: 7%;
}


    .logo{
        width: 50px;
        height: 50px;
    }
    .links-header-nav{
        display: block
    }
    .links-header{
        text-decoration: none;
        color: #BDA48A;
    }

    .links-header:hover{
        color: #957F65;
    }


    .iniciar-sesion{
        display: flex;
        flex-direction: column;
    }
    .usuario{
        border: 2px solid #BEA088;
        padding: 2% ;
        margin-bottom: 2%;
        border-radius: 1rem;
    }

    

/* Footer */

.footerGroup{

    background-color: #957f65;
    font-size: 18px;
    }

    .footerContent{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    padding: 30px 30px 30px 30px;

    }

    .contactUs{
        padding: 25px 5px;
        position:relative;
    }




    .footerMail{
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    color: #FFEED2;
    margin-top: 80px;
    margin-bottom: 10px;
    }
    .footerTel{
        display: flex;
        padding: 5px;
        justify-content: flex-start;
        color: #FFEED2;
        margin-bottom: 10px;
    }
    .footerRedes{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: flex-start;
    color: #FFEED2;
    margin-bottom: 10px;
    }

    .nuestrasRedes a{
       color: #FFEED2;
       font-size: 34px;
       margin-right: 5px;
    }

    .fb:hover a{
    color: #3b5998 ;
    }

    .ig:hover a{
    color: #3f729b;
    }
    .yt:hover a{
        color: #c4302b;
    }

    .footerList2 h4{
        margin-bottom: 50px;
        font-weight: bold;
        color: #FFEED2;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .footerList3 h4{
        margin-bottom: 50px;
        font-weight: bold;
        color: #FFEED2;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .footerList2 li{
        list-style: none;
        line-height: 32px;

    }

    .footerList3 li{
        list-style: none;
        line-height: 32px;

    }

    .footerList2 li a{
        text-decoration: none;
        color: #FFEED2;
    }

    .footerList3 li a{
        text-decoration: none;
        color: #FFEED2;
    }


        .footerList3{
            display: block;
            padding-top: 50px;
                height: auto;
            }

    @keyframes color{
        0%{
            color: #FFEED2;
        }
        100%{
            color: #080d4d;
        }
    }

    .msjPosisionAbsoluta{
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 40px;
    }

    .footerList li:hover a{
      animation: color 100ms 1 ;
    }

    .footerList li a:hover{
    color: #080d4d;
    }

    .footerList li{
        list-style: none;
        line-height: 32px;

    }
/* End footer */
}


@media (min-width:946px) {
    header nav{
        font-size: 12px;
    }

    header nav a h2{
        display: block;
    }


    .logo{
        width: 50px;
        height: 50px;
    }

    .links-header-nav{
     font-size: 12px;
    }


    .iniciar-sesion{
        display: flex;
        flex-direction: column;
    }
    .usuario{
        border: 2px solid #BEA088;
        padding: 2% ;
        margin-bottom: 2%;
        border-radius: 1rem;
    }


}


@media (min-width:1200px) {
    header nav{

        font-size: 14px;

    }

    header nav h2{
        display: block;
    }

    .logo{
        width: 50px;
        height: 50px;
    }

    .links-header-nav{font-size: 14px;
    }

    .links-header:hover{
        color: #957F65;
    }


    .iniciar-sesion{
        padding: 5px 10px;
        border-radius: 10px;
    }

    .footerList2{
        display: block;
        padding-top: 50px;
            height: auto;
        }
}