*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Header*/

header nav{
    color: #BDA48A;
    background-color: #FFEED2;
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border: solid 1px #BEA088;
}


.logo{
    width: 50px;
    height: 50px;
}

.links-header{
    text-decoration: none;
    color: #BDA48A;
}

.links-header:hover{
    color: #957F65;
}


.iniciar-sesion{
    border: 2px solid #BEA088;
    padding: 5px 10px;
    border-radius: 10px;
}

/*Cuerpo*/

.nav-vehiculos{
    background-color: #957f65;
    color: #FFEED2;
    padding: 10px;
    padding-left: 70px;
    font-size: 14px;
}

.nav-vehiculos a {
    text-decoration: none;
    color: lightblue;
    font-weight: lighter;
}

.nav-vehiculos a:hover {
    text-decoration: none;
    color: lightskyblue;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.cuerpo{
    background-color: #FFEED2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home{
    text-align: center;
    padding: 100px;
}

.parte-central{
    background-color: #FFEED2;
    border: 1px solid rgba(75, 72, 81, 0.2);
    width: 60vw;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0px 1px 5px 3px rgba(149, 127, 101, 1);
    color: #080d4d;
}

.titulo-uno{
    text-align: left;
    padding: 10px 0 5px 20px;
}

.titulo-dos{
    text-align: left;
    padding: 5px 0 5px 20px;
}

hr{
    color: #4B4851;
    opacity: 0.2;
}

.texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px 20px 5px 20px;
    width: 100%;
}

.texto input::placeholder {
    padding-left: 5px;
}

.textoDiv .casillasHome{
    width:250px;
}

.fechaYHoraDevolucion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px 20px 5px 20px;
    width: 100%;
}

.fechaYHoraDevolucion input{
    width: 150px;
}
.casillasHome{
    height: 40px;
}

.texto div input{
    width: 100%;
    margin: 5px 0 5px 0;
}


.nuestros-vehiculos{
    margin-top: 50px;
    padding: 50px 0 20px 0;
    color: #000000;
}


.vehiculos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.vehiculo{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.imagen-van{
    width: 375px;
    height: 175px;
}

.vehiculo p{
    color: #47525E;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

.nuestras-ubicaciones-populares{
    margin-top: 50px;
    padding: 50px 0 20px 0;
    color: #000000;
}


.ubicaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.ubicacion{
    background-color: rgba(208, 187, 171, 0.39);
    border-radius: 100%;
    width: 266px;
    height: 256px;
    margin: 30px;
    padding: 30px;
    text-align: center;
}

/* Footer */

.footerGroup{

background-color: #957f65;
font-size: 18px;
}

.footerContent{
display:flex;
flex-direction: row;
justify-content: space-around;
align-items:flex-start;
padding: 30px 30px 30px 30px;

}

.contactUs{ 
    padding: 25px 5px;
    position:relative;
}

.footerList{
padding-top: 50px;
    height: 200px;
}

.iconosFooter{
    font-size: 35px;
    margin-right: 10px;
}

.logoFooter{
    position: absolute;
    top:0;
    left: 10px;
    width: 80px;
}

.footerMail{
display: flex;
padding: 5px;
justify-content: flex-start;
color: #FFEED2;
margin-top: 80px;
margin-bottom: 10px;
}
.footerTel{
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    color: #FFEED2;
    margin-bottom: 10px;
}
.footerRedes{
display: flex;
flex-direction: column; 
padding: 5px;
justify-content: flex-start;
color: #FFEED2;
margin-bottom: 10px;
}

.nuestrasRedes a{
   color: #FFEED2; 
   font-size: 34px;
   margin-right: 5px;
}

.fb:hover a{
color: #3b5998 ;
}

.ig:hover a{
color: #3f729b;
}
.yt:hover a{
    color: #c4302b;
}

.footerList h4{
    margin-bottom: 50px;
    font-weight: bold;
    color: #FFEED2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footerList li a{
    text-decoration: none;
    color: #FFEED2;
}

@keyframes color{
    0%{
        color: #FFEED2;
    }
    100%{
        color: #080d4d;
    }
}

.msjPosisionAbsoluta{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 40px;
}

.footerList li:hover a{
  animation: color 100ms 1 ;
}

.footerList li a:hover{
color: #080d4d;
}

.footerList li{
    list-style: none;
    line-height: 32px;
   
}