*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Header*/

header nav{
    color: #BDA48A;
    background-color: #FFEED2;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: solid 1px #BEA088;
}

.navegadorLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links-header-nav{
    font-size: 9px;
    display: none;
    text-decoration: none;
    color: #BDA48A;
    padding: 15px;

}

.links-header-nav:hover{
    color: #957F65;
}

.menu{
    padding: 10px 13px;
    font-size: 16px;
    border: #957F65 2px solid;
    color: #957f65;
    border-radius: 50%;
}

.menu:hover{
    background-color:#957F65 ;
    color: #FFEED2;
}

.logoHeader{
    width: 10px;
}

.links-header{
    text-decoration: none;
    color: #BDA48A;
}

.links-header:hover{
    color: #957F65;
}


.usuario{
    border: 2px solid #BEA088;
    padding: 5px 5px ;
    margin: 4px 0 4px 5px;
    margin-bottom: 4px;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.usuario h4{
    font-size: 16px;
}

.usuario h4 i{
margin-right: 5px;
}

/* Cuerpo */

body{
    background-color: #FFEED2;
}

.container{
    width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
background-color: #FFEED2;
}
.nav-vehiculos{
    background-color: #957f65;
    color: #FFEED2;
    padding: 10px;
    padding-left: 7%;
    font-size: 80%;
}

.nav-vehiculos a {
    text-decoration: none;
    color: lightblue;
    font-weight: lighter;
}

.nav-vehiculos a:hover {
    text-decoration: none;
    color: lightskyblue;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.text-carrito{
    text-align: center;
    padding-top: 60px;
}

.text-carrito h1{
    color: #bea088;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: all 350ms;
}

.text-carrito h1:hover{
    cursor: pointer;
    color: #926f34;
}

.carrito{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.container-vans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #BEA088;
    width: 60%;
    margin: 60px 0 60px 60px;
    border-radius: 5px;
}

.van{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.imagenes{
    margin: 0 20px;
    padding: 5px;
    transition: all 300ms;
}

.imagenes:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 10px;
}

.imagen{
    width: 135px;
    height: 75px;
}

.detalles{
    position: relative;
    right: 250px;
}

.precios{
    font-weight: bold;
    margin: 0 60px;
}


.resumen-de-la-compra{
    width: 20%;
    background-color: #bea088;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 60px 0 60px 90px;
    border-radius: 5px;
}

.total{
    margin: 20px;
}

.total p {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

.precio-del-resumen{
    font-size: 30px;
    font-weight: bold;
    margin-top: 90px;
}

.buttons-resumen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 90px;
}

.boton-seguir-comprando{
    text-align: center;
    width: 100%;
    height: 60px;
    margin: 10px 0;
}


.boton-seguir-comprando button{
    border: 1px solid #FFEED2;
    border-radius: 20px;
    background-color: #FFEED2;
    width: 80%;
    height: 100%;
    transition: all 350ms;
}

.boton-seguir-comprando button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.boton-resumen{
    text-align: center;
    width: 100%;
    height: 60px;
    margin: 10px 0;
}


.boton-resumen button{
    border: 1px solid #FFEED2;
    border-radius: 20px;
    background-color: #FFEED2;
    width: 80%;
    height: 100%;
    transition: all 350ms;
}

.boton-resumen button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}



@media (min-width: 0px) and (max-width: 480px){

    .carrito{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

   .container-vans{
        width: 80%;
        margin: 30px 0;
    }

   .van{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

   .detalles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        margin: 10px 0;
    }

    .resumen-de-la-compra{
        width: 80%;
        margin: 30px 0;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .carrito{
        margin: 30px 0;
        justify-content: space-between;
    }

    .container-vans{
        width: 60%;
        margin: 0;
    }

    .resumen-de-la-compra{
        width: 30%;
        margin: 0;
    }

    .van{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .detalles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        margin: 10px 0;
    }
}

@media (min-width:769px) and (max-width:1279px){
    .carrito{
        margin: 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .container-vans{
        width: 60%;
        margin: 0;
    }

    .resumen-de-la-compra{
        width: 30%;
        margin: 0;
    }

    .van{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .detalles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        margin: 10px 0;
    }

    .imagenes{
        margin: 0;
        padding: 0;
    }
    .detalles{
        margin: 0;
    }

    .precios{
        margin: 0;
    }
}


@media (min-width: 1280px){
    .carrito{
        margin: 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .container-vans{
        width: 60%;
        margin: 0;
    }

    .resumen-de-la-compra{
        width: 30%;
        margin: 0;
    }

    .van{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .detalles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        margin: 10px 0;
    }

    .imagenes{
        margin: 0;
        padding: 0;
    }
    .detalles{
        margin: 0;
    }

    .precios{
        margin: 0;
    }
}
