*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Header*/

header nav{
    color: #BDA48A;
    background-color: #FFEED2;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: solid 1px #BEA088;
}

.navegadorLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links-header-nav{
    font-size: 9px;
    display: none;
    text-decoration: none;
    color: #BDA48A;
    padding: 15px;

}

.links-header-nav:hover{
    color: #957F65;
}

.menu{
    padding: 10px 13px;
    font-size: 16px;
    border: #957F65 2px solid;
    color: #957f65;
    border-radius: 50%;
}

.menu:hover{
    background-color:#957F65 ;
    color: #FFEED2;
}

.logoHeader{
    width: 10px;
}

.links-header{
    text-decoration: none;
    color: #BDA48A;
}

.links-header:hover{
    color: #957F65;
}


.usuario{
    border: 2px solid #BEA088;
    padding: 5px 5px ;
    margin: 4px 0 4px 5px;
    margin-bottom: 4px;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.usuario h4{
    font-size: 16px;
}

.usuario h4 i{
margin-right: 5px;
}

/* Cuerpo */

.cuerpo{
    background-color: #FFEED2;;
}

.text-carrito{
    text-align: center;
    padding-top: 60px;
}

.text-carrito h1{
    color: #bea088;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: all 350ms;
}

.text-carrito h1:hover{
    cursor: pointer;
    color: #926f34;
}

.carrito{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.container-vans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #BEA088;
    width: 60%;
    margin: 60px 0 60px 60px;
    border-radius: 5px;
}

.van{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.imagenes{
    margin: 0 20px;
    padding: 5px;
    transition: all 300ms;
}

.imagenes:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 10px;
}

.imagen{
    width: 135px;
    height: 75px;
}

.detalles{
    position: relative;
    right: 250px;
}

.precios{
    font-weight: bold;
    margin: 0 60px;
}


.resumen-de-la-compra{
    width: 20%;
    background-color: #bea088;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 60px 0 60px 90px;
    border-radius: 5px;
}

.total{
    margin: 20px;
}

.total p {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

.precio-del-resumen{
    font-size: 30px;
    font-weight: bold;
    margin-top: 90px;
}

.buttons-resumen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 90px;
}

.boton-seguir-comprando{
    text-align: center;
    width: 100%;
    height: 60px;
    margin: 10px 0;
}


.boton-seguir-comprando button{
    border: 1px solid #FFEED2;
    border-radius: 20px;
    background-color: #FFEED2;
    width: 80%;
    height: 100%;
    transition: all 350ms;
}

.boton-seguir-comprando button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.boton-resumen{
    text-align: center;
    width: 100%;
    height: 60px;
    margin: 10px 0;
}


.boton-resumen button{
    border: 1px solid #FFEED2;
    border-radius: 20px;
    background-color: #FFEED2;
    width: 80%;
    height: 100%;
    transition: all 350ms;
}

.boton-resumen button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}



    
    






    @media (min-width: 546px) and (max-width: 752px) {
        .footerList{
            display: block;
        padding-top: 50px;
            height: 200px;
        }
    
        /* Body */

        .carrito{
            justify-content: space-between;
        }

        
        .container-vans{
            margin: 60px 0 60px 15px;
        }
        
        .resumen-de-la-compra{
            margin: 60px 15px;
            width: 30%;
        }


        .imagenes{
            margin: 5px;
        }
        
        .detalles{
            margin: 5px;
            right: 0;
        }
        
        .precios{
            margin: 10px 60px;
            width: 100%;
        }

        .precios p{
            text-align: center;
        }
    }
    
    @media (min-width:752px){
       /* Header */
        header nav{
            font-size: 10px;
        }
    
    
       .menu{
           display: none;
       }
    
        .logo{
            width: 50px;
            height: 50px;
        }
        .links-header-nav{
            display: block
        }
        .links-header{
            text-decoration: none;
            color: #BDA48A;
        }
    
        .links-header:hover{
            color: #957F65;
        }
    
    
        .iniciar-sesion{
            display: flex;
            flex-direction: column;
        }
        .usuario{
            border: 2px solid #BEA088;
            padding: 2% ;
            margin-bottom: 2%;
            border-radius: 1rem;
        }

        /* Cuerpo */

        .carrito{
            justify-content: space-between;
        }

        
        .container-vans{
            margin: 60px 0 60px 15px;
        }


        .van{
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        


        .imagenes{
            margin: 5px;

        }
        
        .detalles{
            margin: 5px;
            right: 0;

        }
        
        .precios{
            margin: 0;
            width: 20%;
        }

        .precios p{
            text-align: center;
        }

        .resumen-de-la-compra{
            margin: 60px 15px;
            width: 30%;
        }

    
        
    
    /* Footer */
    
    .footerGroup{
    
        background-color: #957f65;
        font-size: 18px;
        }
    
        .footerContent{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:flex-start;
        padding: 30px 30px 30px 30px;
    
        }
    
        .contactUs{
            padding: 25px 5px;
            position:relative;
        }
    
    
    
    
        .footerMail{
        display: flex;
        padding: 5px;
        justify-content: flex-start;
        color: #FFEED2;
        margin-top: 80px;
        margin-bottom: 10px;
        }
        .footerTel{
            display: flex;
            padding: 5px;
            justify-content: flex-start;
            color: #FFEED2;
            margin-bottom: 10px;
        }
        .footerRedes{
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: flex-start;
        color: #FFEED2;
        margin-bottom: 10px;
        }
    
        .nuestrasRedes a{
           color: #FFEED2;
           font-size: 34px;
           margin-right: 5px;
        }
    
        .fb:hover a{
        color: #3b5998 ;
        }
    
        .ig:hover a{
        color: #3f729b;
        }
        .yt:hover a{
            color: #c4302b;
        }
    
        .footerList2 h4{
            margin-bottom: 50px;
            font-weight: bold;
            color: #FFEED2;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .footerList3 h4{
            margin-bottom: 50px;
            font-weight: bold;
            color: #FFEED2;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    
        .footerList2 li{
            list-style: none;
            line-height: 32px;
    
        }
    
        .footerList3 li{
            list-style: none;
            line-height: 32px;
    
        }
    
        .footerList2 li a{
            text-decoration: none;
            color: #FFEED2;
        }
    
        .footerList3 li a{
            text-decoration: none;
            color: #FFEED2;
        }
    
    
            .footerList3{
                display: block;
                padding-top: 50px;
                    height: auto;
                }
    
        @keyframes color{
            0%{
                color: #FFEED2;
            }
            100%{
                color: #080d4d;
            }
        }
    
        .msjPosisionAbsoluta{
            position: fixed;
            bottom: 10px;
            right: 10px;
            font-size: 40px;
        }
    
        .footerList li:hover a{
          animation: color 100ms 1 ;
        }
    
        .footerList li a:hover{
        color: #080d4d;
        }
    
        .footerList li{
            list-style: none;
            line-height: 32px;
    
        }
    /* End footer */
    }
    
    
    @media (min-width:946px) {
        header nav{
            font-size: 12px;
        }
    
        header nav a h2{
            display: block;
        }
    
    
        .logo{
            width: 50px;
            height: 50px;
        }
    
        .links-header-nav{
         font-size: 12px;
        }
    
    
        .iniciar-sesion{
            display: flex;
            flex-direction: column;
        }
        .usuario{
            border: 2px solid #BEA088;
            padding: 2% ;
            margin-bottom: 2%;
            border-radius: 1rem;
        }
    
    
    }
    
    
    @media (min-width:1200px) {
        header nav{
    
            font-size: 14px;
    
        }
    
        header nav h2{
            display: block;
        }
    
        .logo{
            width: 50px;
            height: 50px;
        }
    
        .links-header-nav{font-size: 14px;
        }
    
        .links-header:hover{
            color: #957F65;
        }
    
    
        .iniciar-sesion{
            padding: 5px 10px;
            border-radius: 10px;
        }
    
        .footerList2{
            display: block;
            padding-top: 50px;
                height: auto;
        }

        /* Body */

        .cuerpo{
            background-color: #FFEED2;;
        }
        
        .text-carrito{
            text-align: center;
            padding-top: 60px;
        }
        
        .text-carrito h1{
            color: #bea088;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            transition: all 350ms;
        }
        
        .text-carrito h1:hover{
            cursor: pointer;
            color: #926f34;
        }
        
        .carrito{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
        }
        
        .container-vans{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: #BEA088;
            width: 60%;
            margin: 60px 0 60px 60px;
            border-radius: 5px;
        }
        
        .van{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px;
        }
        
        .imagenes{
            margin: 0 20px;
            padding: 5px;
            transition: all 300ms;
        }
        
        .imagenes:hover{
            cursor: pointer;
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
            border-radius: 10px;
        }
        
        .imagen{
            width: 135px;
            height: 75px;
        }
        
        /* .detalles{
            position: relative;
            right: 250px;
        } */
        
        .precios{
            font-weight: bold;
            margin: 0 60px;
        }
        
        
        .resumen-de-la-compra{
            width: 20%;
            background-color: #bea088;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 60px 0 60px 90px;
            border-radius: 5px;
        }
        
        .total{
            margin: 20px;
        }
        
        .total p {
            font-size: 30px;
            font-weight: bold;
            text-decoration: underline;
            text-transform: uppercase;
        }
        
        .precio-del-resumen{
            font-size: 30px;
            font-weight: bold;
            margin-top: 90px;
        }
        
        .buttons-resumen{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 20px;
            margin-top: 90px;
        }
        
        .boton-seguir-comprando{
            text-align: center;
            width: 100%;
            height: 60px;
            margin: 10px 0;
        }
        
        
        .boton-seguir-comprando button{
            border: 1px solid #FFEED2;
            border-radius: 20px;
            background-color: #FFEED2;
            width: 80%;
            height: 100%;
            transition: all 350ms;
        }
        
        .boton-seguir-comprando button:hover{
            cursor: pointer;
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
        
        .boton-resumen{
            text-align: center;
            width: 100%;
            height: 60px;
            margin: 10px 0;
        }
        
        
        .boton-resumen button{
            border: 1px solid #FFEED2;
            border-radius: 20px;
            background-color: #FFEED2;
            width: 80%;
            height: 100%;
            transition: all 350ms;
        }
        
        .boton-resumen button:hover{
            cursor: pointer;
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
}
