*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Header*/

header nav{
    color: #BDA48A;
    background-color: #FFEED2;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: solid 1px #BEA088;
}

.navegadorLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links-header-nav{
    font-size: 9px;
    display: none;
    text-decoration: none;
    color: #BDA48A;
    padding: 15px;

}

.links-header-nav:hover{
    color: #957F65;
}

.menu{
    padding: 10px 13px;
    font-size: 16px;
    border: #957F65 2px solid;
    color: #957f65;
    border-radius: 50%;
}

.menu:hover{
    background-color:#957F65 ;
    color: #FFEED2;
}

.logoHeader{
    width: 10px;
}

.links-header{
    text-decoration: none;
    color: #BDA48A;
}

.links-header:hover{
    color: #957F65;
}


.usuario{
    border: 2px solid #BEA088;
    padding: 5px 5px ;
    margin: 4px 0 4px 5px;
    margin-bottom: 4px;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.usuario h4{
    font-size: 16px;
}

.usuario h4 i{
margin-right: 5px;
}