.register{
background-color:#FFEED2;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.cajaRegistro{
    width: 40%;
    padding: 20px 10px;
    margin: 60px 0;
    border: 2.5px solid #BEA088;;
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.casillaRegistro div{
    width: 100%;
}

.casillaRegistro{
    border: #BDA48A  2px solid;
    width: 90%;
    height: auto;
    border-radius: 1rem;
    padding: 7px;
    margin: 10px;
}

.casillaRegistro::placeholder{
    padding-left: 15px;
    font-size: 1rem;
    color: #957F65;
    }



.date{
padding: 5px;
margin: 10px 10px 10px 10px;
text-align: center;

}

.date label{
text-align: center;
margin-bottom: 10px;
}

.fechaRegistro{
width: 380px;
height: 50px;
padding: 5px;
margin: 10px;
border-radius: 2%;
border: #957F65 2px solid;
}

.fechaRegistro::placeholder{
    text-align: center;
    }

.formulario button{
    width: 20vw;
background-color: #b19675;
border-radius: 2rem;
color: white;
font-size: 2vw;
font-weight: bold;
padding: 10px;
margin: 10px 10px 20px 10px;
}

.formulario button:hover{
    background-color: white;
    color: #b19675
}

.link-inicio-sesion{
    margin: 15px 0;
}

.link-inicio-sesion a{
    text-decoration: none;
    color: #BDA48A;
    font-size: 20px;
    transition: all 200ms;
}

.link-inicio-sesion a:hover{
    color: #957f65;
}

@media (min-width: 0px) and (max-width: 480px){
    .register{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    .formulario{
        margin: 60px;
        width: 80%;
    }
    .cajaRegistro{
        width: 100%;
        margin: 0;
    }
    .inputs-registro{
        width: 95%;
    }
    .casillaRegistro{
        width: 100%;
        margin: 10px 0;
    }

    .date{
        margin: 5px 0 0 0;
        padding: 5px 5px 0 5px;
    }

    .date input{
        width: 100%;
        margin: 10px 0 0 0;
    }

    .inputs-registro button{
        width: 100%;
        margin: 0;
    }


    .link-inicio-sesion a{
        font-size: 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .register{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    .formulario{
        margin: 60px 0;
        width: 60%;
    }
    .cajaRegistro{
        width: 100%;
        margin: 0;
    }
    .inputs-registro{
        width: 95%;
    }
    .casillaRegistro{
        width: 100%;
        margin: 10px 0;
    }

    .date{
        margin: 5px 0 0 0;
        padding: 5px 5px 0 5px;
    }

    .date input{
        width: 100%;
        margin: 10px 0 0 0;
    }

    .inputs-registro button{
        width: 100%;
        margin: 0;
    }


    .link-inicio-sesion a{
        font-size: 10px;
    }
}

@media (min-width: 768px){
    .inputs-registro{
        width: 90%;
    }
    .casillaRegistro{
        width: 100%;
        margin: 10px 0;
    }
}