.register{
background-color:#FFEED2;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.cajaRegistro{
    width: 500px;
    padding: 20px 30px;
    margin: 90px;
    border: 2.5px solid #BEA088;;
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}


.casillaRegistro{
    border: rgba(23, 62, 202, 0.6)  2px solid;
    width: 420px;
    height: 60px;
    border-radius: 2rem;
padding: 5px;
margin: 10px;
}

.casillaRegistro::placeholder{
    padding-left: 15px;
    font-size: 18px;
    color: #080d4d;
    }

    input[type=date] {
    height: 50px;
    margin: 10px  auto;
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    border-radius: 3px;
    padding: 0 3px;
    color: rgba(23, 62, 202, 0.6);
  }

.date{
padding: 5px;
margin: 10px 10px 10px 10px;

}

.date label{
text-align: center;
margin-bottom: 10px;
}

.fechaRegistro{
width: 400px;
height: 50px;
padding: 5px;
margin: 10px;
border-radius: 2%;
border: #080d4d 1px solid;
}

.fechaRegistro::placeholder{
    text-align: center;
    }

.formulario button{
    width: 380px;
background-color: rgba(23, 62, 202, 0.8);
border-radius: 2rem;
color: white;
font-size: 22px;
font-weight: bold;
padding: 10px;
margin: 10px 10px 20px 10px;
}

.formulario button:hover{
    background-color: white;
    color: rgba(23, 62, 202, 0.8);
}