<div class="container-precio">
    <div class="total">
        <p>Total</p>
    </div>
    <div class="div-precio-total">
        <p class="precio-total">$0</p>
    </div>
    <div class="div-form-comprar">
        <form action="" class="form-comprar">
            <button class="button-comprar">Comprar</button>
        </form>
    </div>
</div>