<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head') %> 
    <title>Register</title>
    <link rel="stylesheet" href="./css/register.css">
    
</head>
<body>
    <!-- Header -->

    <%- include('./partials/header') %> 

    <section class="nav-vehiculos">
        <article>
            <h3><a href="/home">Home</a> / <a href="/register">Register</a></h3>
        </article>
    </section>
    <section class="register">
        <form action="/home" method="post" class="formulario" enctype="multipart/form-data">
            <div class="cajaRegistro">
            <div class="inputs-registro">
                <label for="firstName">Nombre</label>
                <input type="text" name="firstName" placeholder="Argentina" class="casillaRegistro">
            </div>
            <div class="inputs-registro">
                <label for="lastName">Apellido</label>
                <input type="text" name="lastName" placeholder="Campers" class="casillaRegistro">
            </div>
            <div class="inputs-registro">
                <label for="email">Correo electrónico</label>
                <input type="email" name="email" placeholder="argentinacampers@gmail.com" class="casillaRegistro">
            </div>
            <div class="inputs-registro">
                <label for="password">Contraseña</label>
                <input type="password" name="password" class="casillaRegistro">
            </div>
            <div class="inputs-registro">
                <label for="password2">Confirmar Contraseña</label>
                <input type="password" name="password2" class="casillaRegistro">
            </div>
            <div class="date">
                <input type="file" name="imagenDelUsuario" placeholder="Inserte su imágen" accept=".png, .jpg, .jpeg">
            </div>
            <div class="date">
                <label for="phoneNumber">Número de teléfono (Agregar código de área)</label>
                <input type="number" name="phoneNumber" placeholder="11-5418-7697" class="casillaRegistro">
            </div>
            
            <div class="link-inicio-sesion">
                <a href="login">Ya tienes una cuenta? Inicia sesion aqui</a>
            </div>
          
                <button type="submit" >Registrarme</button>
           
        
            
        </div>
        </form>
    </section>

   
    <!-- Footer -->
    
    <%- include('./partials/footer') %> 
</body>
</html>
