body{
    background-color:#FFEED2 ;
    color: #BDA48A;
}


/* SOBRE NOSOTROS 
.
.
.
.
.
.
*/
.txtSobreNosotros{

    text-align: left


}.contenedor{
    width: 100%;
    display:flex;
    margin: 0;  
}

.contenedorText{
   justify-content: center;
    width: 100%;
    text-align: justify;
}

.bannerConjunto{
    margin:0;
    padding: 0;
    width: 33%;    
}
.contenedorSN{
    display: flex;
    flex-direction: column;
    margin: 2%;
    justify-content: center;
    align-items: center;
    width: 96%;
}

.contenedorSN h2{
    font-size: 1.5rem;
    padding: 10px;
}
.contenedorSN h4{
    font-size: 1rem;
    padding: 10px;
    
}