body{
    background-color:#FFEED2 ;
    color: #BDA48A;
}


/* SOBRE NOSOTROS 
.
.
.
.
.
.
*/
.txtSobreNosotros{

    text-align: left


}
.bannerAboutUs{
    width: 100%;
    display:flex;
    margin: 0;  
}

.contenedorText{
   justify-content: center;
    width: 100%;
    text-align: justify;
}

.bannerConjunto{
    margin:0;
    padding: 0;
    width: 25%;    
}
.contenedorSN{
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.contenedorSN h2{
    font-size: 1.5rem;
    color: #957F65;
    padding: 5px;
}
.contenedorSN h4{
    font-size: 1rem;
    padding: 10px;
    
}

.nuestrosViajeros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.3);
border: #BDA48A 2px solid;
border-radius: 2rem;
width: 90%;
padding: 20px;
}

.review{
    height: 300px;
	width: 95%;
    border-radius: 1rem;
	
	overflow-y: scroll;
    text-align: center;
    background-color: #957F65;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.5);
}

.review h3{
color: #FFEED2;
font-size: 1rem;
    padding:10px;
}

.review p{
    color: #FFEED2;
}

.separacion{
display: flex;
padding: 15px;
}

.separacionIzq{
width: 30%;
border-bottom: #FFEED2 1px dotted;
}

.separacionDer{
    width: 70%;
    text-align: left;
    padding: 5px 5px 15px 0;
    border-bottom: #FFEED2 1px dotted;
    }

.imagenUsuarioReview{
    width: 80px;
    height: 80px;
    border-radius: 3rem;
}



.nuevaResenia{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clasificacion label{ 
    color:grey;
    font-size: 1.5rem;
}

.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}

input[type = "radio"]{ display:none;}
label:hover,
label:hover ~ label{color:gold;}
input[type = "radio"]:checked ~ label{color:gold;}

